
.blogsWrapper{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.blog{
    width: 80%;
    /* border: 1px solid #202020; */
    background-color: rgb(230, 230, 230);
    padding: 16px;
    color:black;
    border-radius: 10px;
    margin: 40px 20px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: left;
    gap: 5rem;
}
.blog:hover .title{
    color:#3861fb
}

.title{
text-align: left;
margin: 15px 0;
/* background-color: transparent; */
background-color: inherit;
font-size: 2.5rem;
/* color: #fff; */
}

.textCover{
background-color: inherit;
}

.content{
    background-color: inherit;
margin-top: 20px;
font-weight: bold;
text-align: left;
white-space: pre-line;

}