
.main{
    margin: 0 auto;
    max-width: 1300px;
    display:flex;
    width: 100%;
    padding: 1rem;
}


.sideBar{
    width: 30%;
    border:1px solid lightgrey;
    padding: 2rem;

}

.sideHeading{
    font-size:1.3em;
    font-weight:600;
    margin-bottom: 2rem;
}

.sideList{
    height:80vh;
    overflow-y: scroll;

}

.sideItem{
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
}

.blogsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}
.searchBar{

}

.blog{
    width: 100%;
    padding: 1rem;
    color:black;
    display: flex;
    gap: 3rem;
    justify-content:space-between;
}
.blog:hover .title{
    color:#3861fb
}

.title{
    text-align: left;
    font-size: 2rem;
}

.textCover{
    background-color: inherit;  
    width:70%;
    flex:1;
}
.photoCover{
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
}

.content{
    background-color: inherit;
/*    margin-top: 20px;*/
    font-weight: bold;
    text-align: left;
    white-space: pre-line;
}

.description{
    background-color: inherit;
    font-size:1.2rem;
    line-height: 1.3;
/*    letter-spacing: 1px;*/
    word-spacing: 3px;
    color: grey;
}