.commentsListWrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.commentsList{
    height: 60vh;
    overflow-y: auto;
    width: 100%;
}
.noCumments{
    color: #bebcc0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}