/* .home{
    background-color: blue;
} */

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
/*    background-color: black;*/
    color:black;
/*    border: 1px solid #fff;*/
    width: 20%;
    /* overflow: hidden; */
/*    cursor: pointer;*/
    margin: 1rem 1rem;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: justify;
/*    background-color:blue;*/
    flex-direction: column;
    gap: 1rem;
/*    background-color:blue;*/
    min-height:25rem;
}
.header{
font-size:2rem;
margin-top: 40px;
/* text-align: center; */
display: flex;
justify-content: center;
}

.imageContainer{
    border-radius: 10px;

}


.card img{
    width: 100%;
    height: auto;
}

.card h3{
    text-align: left;
    background-color: transparent;
    margin-top: 15px;
}

.activeCard{
    color: #3861fb;
}