/* .home{
    background-color: blue;
} */

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: black;
    border: 1px solid #fff;
    width: 20%;
    /* overflow: hidden; */
    cursor: pointer;
    margin: 40px 20px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.header{
font-size: 32px;
margin-top: 40px;
/* text-align: center; */
display: flex;
justify-content: center;
}


.card img{
    width: 100%;
    height: 100%;
}

.card h3{
    text-align: left;
    background-color: transparent;
    color: #fff;
    margin-top: 15px;
}