.comment{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin:10px;
    border-bottom: 2px solid #5b5b5b;
}
.author{
    font-weight: bold;
    color: #c4c5c5;
    margin-right: 10px;
}
.date{
    font-size: 12px;
    color: #c4c5c5;
    font-weight: bold;
}
.header div{ 
    margin: 2px 0;
}
.content{
    font-size: 18px;
    padding: 5px 0 ;
}