.wrapper {
    margin: 0 auto;
    max-width: 500px;
    /* height: calc(100vh - 200px); */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    width: inherit;
    margin: 20px 0;
}

.content {
    padding: .8rem;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid lightgrey;
    display: block;
    width: 100%;
    margin: .5rem auto;
}

.description {
    margin: .5rem auto;

    padding: .8rem;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid lightgrey;
    display: block;
    width: 100%;
}

.photoPrompt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 60%;
    font-size: 20px;
}

.submit {
    background-color: #3861fb;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    width: 100%;
    padding: 15px 30px;
    margin: 40px;
    cursor: pointer;

}

.submit:hover,
.submit:disabled {
    background-color: #6889ff;
}


.editor {
    /*    background-color:blue;*/
    /*    height: 300px;*/
    width: 100%;
    border: 1px solid black;
    padding: .8rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid lightgrey;


}