

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1;
    display:flex;
    justify-content:center;
    align-items:center;
}


.container {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for other browsers */
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  /* Hide scrollbar for Chrome, Safari, and Opera */
  display: none;
}


