@tailwind base;
@tailwind components;
@tailwind utilities;

*{
/*    color: #252525;*/
/*    background-color: white;*/
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
