.errorWrapper{
display: flex;    
align-items: center;
justify-content: center;
min-height: 60vh;
flex-direction: column;
}

.errorHeader{
    font-size: 42px;
    color: #ea3943;
    font-weight: bold;
}

.errorBody{
    font-size: 30px;
    margin: 20px 0;

}
.link{
    color: #3861fb;
    font-weight: bold;
    text-decoration: none;
}